venv
tmp
projects/song_selector/a4_half_generated.tex
*.pdf
projects/*.pdf
**/__pycache__/
bin
library/latex-libraries/*
!library/latex-libraries/tlpkg
!library/latex-libraries/web2c
library/latex-libraries.zip



