venv
tmp
projects/song_selector/songs.*
*.pdf
projects/*.pdf
**/__pycache__/
bin
library/latex-libraries/*
!library/latex-libraries/tlpkg
!library/latex-libraries/web2c
library/latex-libraries.zip



